- title "iTunes results for track #{@track.name} by #{@track.artist_name}"

%table
  %tr
    %th Artist
    %th Track
		%th Albumn
    %th Preview
    %th Artwork
    %th Albumn price
		%th Track price
  = render(@track)
= "Track not found found" unless @track
