- title %Q{iTunes results for track "#{@track.name}" by "#{@track.artist_name}"}

- cache_params = { action: "itunes", controller: "tracks", mb_id: @track.mb_id }

- cache(cache_key(nil, cache_params), expires_in: 2.hours) do # additional expires_in since itunes will change
  %table
    %tr
      %th Artist
      %th Track
      %th Album
      %th Preview
      %th Artwork
      %th Album price
      %th Track price
    = render(:partial => "itune", :collection => @itunes)
  = "Track not found found in iTunes" if @itunes.empty?
