- title "iTunes results for track #{@track.name} by #{@track.artist_name}"

%table
  %tr
    %th Artist
    %th Track
    %th Albumn
    %th Preview
    %th Artwork
    %th Albumn price
    %th Track price
  = render(:partial => "itune", :collection => @itunes)
= "Track not found found in iTunes" if @itunes.empty?
