- title "Home"

%h2 Personalized music recommendations using collaborative filtering.

%h2 Our top rated tracks:
%table
	%tr
		%th Artist Name
		%th Track Name
		%th Average Rating
		%th Your Rating
	= render(@tracks) || "No tracks."
