- title "MusicRec Home"

#info
  %h2 Personalized music recommendations using collaborative filtering.

  %h2 Our top rated tracks:

.rating
  %table
    %tr
      %th Artist Name
      %th Track Name
      %th Average Rating
      %th Releases
      %th Your Rating
    = render(@tracks)
  = @tracks.empty? ? "No tracks." : nil
