- title "Home"

%h1 Our top rated tracks: (Join or login to get personalized recommendations based on your ratings.)
= render "shared/tablehead"
%th Average rating
= render(@tracks) || "No tracks. Search below to add some from MusicBrainz."
