$main-color: #1E7B12;
$light-green: #CCFFB2;

@mixin rounded-corners($radius) {
	border-radius: $radius;
	-moz-border-radius: $radius;
	-webkit-border-radius: $radius; }

body {
	margin: 0;
	padding: 0;
  background-color: $light-green; }

a {
	color: $light-green;
	text-decoration: none;
	&:hover {
		text-decoration: underline; } }

div {
  &.field, &.actions {
    margin-bottom: 10px; } }

#flash_notice {
  color: green; }

#flash_alert {
	color: red; }

.field_with_errors {
  padding: 2px;
  background-color: red;
  display: table; }

#error_explanation {
  width: 450px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;
  h2 {
    text-align: left;
    font-weight: bold;
    padding: 5px 5px 5px 15px;
    font-size: 12px;
    margin: -7px;
    margin-bottom: 0px;
    background-color: #c00;
    color: #fff; }
  ul li {
    font-size: 12px;
    list-style: square; } }

#user_header, #title {
	color: $light-green;
	background-color: $main-color;
	padding: 1% 2%; }

#user_header {
	float: right; }

#title {
	clear: left; }

#info, #ratings {
	margin: 1% 2%;
	clear: both; }

#ratings {
	float: left; }

table, th, td {
	border: 1px $main-color;
	border-collapse: collapse; }

th {
	background-color: $main-color;
	color: $light-green; }
