$main-color: #1E7B12;
$light-green: #CCFFB2;

@mixin rounded-corners($radius) {
	border-radius: $radius;
	-moz-border-radius: $radius;
	-webkit-border-radius: $radius; }

body {
	margin: 0;
	padding: 0;
  background-color: $light-green; }

a {
	text-decoration: none;
	&:hover {
		text-decoration: underline; } }

#user_header, #footer {
	a {
		color: $light-green; } }

div {
  &.field, &.actions {
    margin-bottom: 10px; } }

#flash_notice, #flash_alert, #flash_recaptcha_error {
	padding: 0% 2%; }

#flash_notice {
  color: green; }

#flash_alert, #flash_recaptcha_error {
	color: red; }

.field_with_errors {
  padding: 2px;
  background-color: red;
  display: table; }

#error_explanation {
  width: 450px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;
  h2 {
    text-align: left;
    font-weight: bold;
    padding: 5px 5px 5px 15px;
    font-size: 12px;
    margin: -7px;
    margin-bottom: 0px;
    background-color: #c00;
    color: #fff; }
  ul li {
    font-size: 12px;
    list-style: square; } }

#user_header, #title, #footer {
	color: $light-green;
	background-color: $main-color;
	padding: 1% 2%; }

#user_header {
	float: right; }

#title {
	clear: left; }

table, th, td {
	border: 1px solid black;
	border-collapse: collapse; }

th {
	color: $light-green;
	background-color: $main-color; }

#footer {
	clear: both;
	a {
		display: block;
		text-align: right; } }

#home, #tracks, #ratings, #users, #sessions {
	color: $main-color;
	padding: 1% 1%;
	margin: 1% 1%;
	a {
		font-weight: bold;
		color: $main-color; }
	#info {
		clear: both; }
	.item, #search {
		background-color: $light-green;
		border: solid 1px $main-color;
		border-radius: 10px;
		float: left;
		padding: 1% 1%;
		margin: 1% 1%; } }

#users {
	label {
		width: 10%;
		float: left; } }

#sessions {
	label {
		width: 6%;
		float: left; } }

#home {
	a {
		text-align: center;
		display: block; } }
